{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Survey App - Log In{% endblock title %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Log in</h1>
    <p class="lead">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Log In</button>
	</form>
    </p>
    <p class="lead">You haven't an account?</p>
        <p class="lead"><a href="{% url 'account_signup' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to register</a></p>
  </main>
{%endblock content %}
