{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Your Surveys{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
{% include 'navbar.html' %}
  <main class="px-3">
    <h1>Hi {{ request.user.email }}</h1>
    <p class="lead">
    <a href="{% url 'survey-add' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Create a new survey</a></p>
	
	{% if surveys %}
<h2 class="ui header">Your surveys</h2>
  </p>
    <table class="ui celled table">
        <thead>
            <tr>
                <th><h2 class="ui header text-white">Title</h2></th>
                <th><h2 class="ui header text-white">Actions</h2></th>
            </tr>
        </thead>
        <tbody>
            {% for survey in surveys %}
            <tr>
                <td class="text-white">{{ survey.title }}</td>
                <td>
                    <a href="{% url 'survey-detail' survey.pk %}">
                        <div class="btn btn-primary">view</div></a>
                    <a href="{% url 'survey-edit' survey.pk %}">
                        <div class="btn btn-warning">edit</div></a>
                    <form method="post" action="{% url 'survey-delete' survey.pk %}" style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-danger">delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 
    {% else %}
    <h2 class="ui header">Your surveys
        <div class="sub header">...</div>
    </h2>
    {% endif %}
  </main>
{%endblock content %}

