{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Add Options{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
{% include 'navbar.html' %}
  <main class="px-3">
    <h1>Question: {{ question.quest }}</h1>
    <p class="lead">
<ul>
            {% for option in options %}
            <li>
                {{ forloop.counter }}) {{option.choice}}
            </li>
            {% endfor %}
        </ul>
        <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add new option</button>
        </form>
        {% if options|length > 0 %}
        <a href="{% url 'survey-edit' survey.pk %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Done adding options</a>
        {% endif %}
</p>
</main>
{% endblock %}

