{% extends '_base.html' %}

{% block title %}Add a new question{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
<div class="ui center aligned basic very padded segment">
    <h1 class="ui header">Create a new question</h1>
    <div class="ui container left aligned">
        <form class="ui form {% if form.errors %}error{% endif %}" method="post" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="field {% if field.errors %}error{% endif %}">
                <label>{{ field.label_tag }}</label>
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Create question</button>
            <a href="{% url 'survey-edit' survey.pk %}">
                <div class="btn btn-danger">Cancel</div>
            </a>
        </form>
    </div>
</div>
{% endblock %}
