{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}Submit{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<main class="px-3">
    <h1>Your answers to {{ survey.title }}</h1>
    <p class="lead">
      <form method="post" novalidate>
        {% csrf_token %}
        {{ formset.management_form }}
        {% for question, form in question_forms %}
		<div class="ui basic padded segment left aligned">
		<h4 class="ui header">
             Question {{ forloop.counter }}: {{ question.quest }}
        </h4>
                {% for field in form %}
		<div>
				{{ field }}
		</div>
		{% endfor %}
		</div>
		{% endfor %}
		<button type="submit" class="btn btn-success">Submit</button>
    </form>
    </p>
  </main>
{% endblock %}

