{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block title %}{{ survey.title }}{% endblock title %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
{% include 'navbar.html' %}
  <main class="px-3">
    <h1>{{survey.title}}</h1>
    <p class="lead">Url: <a href="{{public_url}}">{{ public_url }}</a></p>
    <p class="lead">
    <ul>
{% for question in questions %}
    <div class="ui basic padded segment left aligned">
        <h4 class="ui header">
            Question {{ forloop.counter }} / {{ questions|length }}: {{ question.text }}
        </h4>
        <ul>
            {% for option in question.option_set.all %}
            <li>
                {{ forloop.counter }}) {{option.choice}}: {{ option.percent|floatformat }}%
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
        <p class="lead"><a href="{% url 'survey-list' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Back</a></p>
</p>
</main>
{% endblock %}

