{% extends '_base.html' %}
{% block title %}Survey App{% endblock title %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Django Survey App</h1>
    <p class="lead">Great slogan</p>
    {% if user.is_authenticated %}
    <p class="lead">
	<a href="{% url 'survey-add' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to create a survey</a></p>
    {% else %}
    <p class="lead">You need to be logged in to create a survey</p>
	<p class="lead"><a href="{% url 'account_signup' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to register</a></p>
	<p class="lead"><a href="{% url 'account_login' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Click here to log in</a></p>
	{% endif %}
  </main>
{%endblock content %}
